DATABASE_URL=postgresql://postgres:password@db:5432/price_tracker
SECRET_KEY=thay-bang-mot-key-rat-dai-va-random-2026
PIPENV_VENV_IN_PROJECT=1
# CORS Configuration
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true