[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
playwright = "*"
apscheduler = "*"
python-multipart = "*"
bcrypt = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
alembic = "*"
python-dotenv = "*"
starlette = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
