[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = "*"
python-dotenv = "*"
playwright = "*"
apscheduler = "*"
alembic = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
bcrypt = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
